__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.bak
*.swp
chromedriver
chromedriver.exe
geckodriver
msedgedriver
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

.vscode/
.idea/
*.code-workspace
node_modules/
package-lock.json
yarn.lock
lib/
*.env
.env.*
.DS_Store
Thumbs.db
*.zip
*.tar
*.tar.gz
*.rar
*.7z
*.log
*.bak